h3{
text-align: center;
text-transform: capitalize;
margin-top: 3rem;
}

button{
    margin :0 auto;
    display: block;
    background: yellow;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}
.info{
    text-align: center;
    text-transform: capitalize;

}
body{
    text-align: center;
    text-transform: capitalize;

}

.item{
    margin: 2rem;
    border:1px solid black;
}